.container-subjects {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.container-subjects h2 {
    margin-bottom: 50px;
    text-align: center;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.tag {
    background-color: #c9d6ff;
    color: black;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: background 0.3s;
    border: 1px solid #5271FF;
}

.tag.selected {
    background-color: #5271FF;
    color: white;
}

.icon {
    font-weight: bold;
    padding: 5px 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.tag-content {
    padding-right: 10px;
}